@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Google Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.cls-2 {
  clip-path: url(#clip-path);
}

/* [#05CC05] */
